/*.content {
    grid-area: content;
    background-color: antiquewhite;
}*/
div {
    padding: 10px;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerImg {
    height: 500px;
}