.nav {
    grid-area: nav;
    background-color: lightpink;
    padding: 20px;
}

.item a {
    color: whitesmoke;
    text-decoration: none;
}

.item a.active {
    color: deeppink;
}

.friends {
    margin-top: 50px;
    font-size: x-large;
}