.friendsWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.friend {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.avatar {
    background: whitesmoke;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.name {
    font-size: medium;
    color: whitesmoke;
}